:root{
    --primary-color: #7e7e7e;
    --primary-color2: #3bb77e;
    --primary-color3: #ffffff;
    --primary-color4:  #253D4E;
    --primary-color5:  #000000;
    --primary-color6:  #FDC040;
    --primary-color7:  #d8f1e5;
    --primary-color8:  #f4f6fa;
    --primary-color9:  #f2eded;
    --primary-color10:  #d5cdcd;
}
*{
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
    /*
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none*/
}
body{
    overflow-x: hidden;
}
h1,h2,b{
    font-family: "Quicksand", sans-serif !important;
}
span{
    cursor: pointer;
    border: none;
}
hr{
    margin: 0 !important;
    color: #d5cdcd !important;
}
input{
    border: none;
    outline: none;
}
a{
    text-decoration: none !important;
    color: inherit !important;
}
.text-grey{
    color: #7e7e7e;
}
.text-green{
    color: #3bb77e !important;
}
.bg-grey{
    background-color: #7e7e7e;
}
.bg-green{
    background-color: #3bb77e;
}
.container{
    width: 1600px !important;
    max-width: 100% !important;
    /*background-color: rgb(255, 170, 170);*/
}
button{
    border: none;
}