*{
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
}
span{
    cursor: pointer;
    border: none;
}
hr{
    margin: 0 !important;
}
input{
    border: none;
    outline: none;
}
a{
    text-decoration: none !important;
}
.text-grey{
    color: #7e7e7e;
}
.text-green{
    color: #3bb77e;
}
.bg-grey{
    background-color: #7e7e7e;
}
.bg-green{
    background-color: #3bb77e;
}
.container{
    width: 1600px !important;
    max-width: 100% !important;
    /*background-color: rgb(255, 170, 170);*/
}