@media only screen and (min-width: 320px) and (max-width:480px) {
    .topHeader-left{
        display: none;
    }
    .topHeader{
        display: none !important;
    }
    .middleheader-search{
        display: none !important;
    }
    .fa-recycle{
        display: none !important;
    }
    .topHeader-right-button{
        display: none !important;
    }
    .account-dropdown-content{
        display: none !important;
    }
    .container{
        width: 410px !important;
    }
    .swiper-slide-main{
        width: 405px !important;
    }
    .bottomheader-right{
        display: none !important;
    }
    hr{
        display: none;
    }
    .main{
        margin-top: 20px !important;
    }
    .section{
        display: flex !important;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .middleheader-compare span{
        display: none !important;
    }
    .pro-count{
        display: none !important;
    }
    .slider-text{
        top: 50px !important;
        left: 25px !important;
    }
    .slider-input-subscribe{
        left: 125px !important;
    }
    .slider-input input {
        width: 168px !important;
    }
    .slider-text b{
        font-size: 40px !important;
    }
    .slider-text span{
        font-size: 20px !important;
    }
    .banner-main{
        flex-direction: column;
        gap: 20px 
    }
    .popularproductUp{
        flex-direction: column;
    }
    .popularproductUp-left{
        width: 100%;
        justify-content: start !important;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .PopularProductCart{
        display: flex;
        justify-content: center;
    }
    .slider-button, .swiper-button-prev, .swiper-button-next{
        display: none !important;
    }
    .productslider-middle-tittle{
        flex-direction: column;
        align-items: start !important;  
    }
    .productslider-middle-text{
        flex-wrap: wrap;
        align-items: start !important;
        justify-content: unset !important;
    }
    .productslider-middle b{
        margin: 0 !important; 
    }
    .productslider-bottom{
        margin-top: 25px;
    }
    .sw-slider{
        display: flex !important;
        justify-content: center !important;
    }
    .dailybestsells-bottom-right{
        margin-top: 20px;
    }
    .dailybestsells-up, .dealsoftheday-up{
        text-align: left;
    }
    .dealsoftheday-cart{
        margin-top: 20px;
    }
}