.product-cart{
    width: 175px;
    justify-content: center;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-cart-img{
    max-width: 155px;
    max-height: 155px;
}
.product-cart-img:hover{
    transform: scale(1.02);
    transition: 0.2s;
}
.product-cart span{
    color: var(--primary-color);
}