.popularproductUp{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
}
.popularproductUp b{
    font-size: 25px;
}
.popularproductUp-left{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.popularproductUp-left a:hover{
    transform: scale(1.05);
    transform: translateY(-20%);
    transition-duration: 0.5s;
    color: var(--primary-color2);
}
.color-changeable {
    color: var(--primary-color5);
    cursor: pointer;
} 
.color-changeable.clicked {
    color: var(--primary-color2);
}
.sa{
    background-color: red;
    width: max-content;
    display: flex;
    margin-left: 1289px;
    height: 50px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    /* padding: 20px; */
    width: 75px;
    height: 134px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sa span{
    background-color: yellow;
    padding: 10px;
    position: absolute;
    width: 60px;
    height: 60px;
    top: -20px;
    border-top-left-radius: 20px;
    left: -23px;
    border-radius: 30px;
}
.sa span img{
    width: 100%;
}
