.popularproductUp{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
}
.popularproductUp b{
    font-size: 25px;
}
.popularproductUp-left{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.popularproductUp-left a:hover{
    transform: scale(1.05);
    transform: translateY(-20%);
    transition-duration: 0.5s;
    color: var(--primary-color2);
}
.color-changeable {
    color: var(--primary-color5);
    cursor: pointer;
} 
.color-changeable.clicked {
    color: var(--primary-color2) !important;
}
