.swiper1 {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide-main{
    padding: 10px;
    border-radius: 10px;
    height: 600px;
    width: 1575px;
}
.swiper-slide-main img{
    border-radius: 30px;
    position: relative;
    object-fit: cover;
}
.slider-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 100px;
    text-align: left;
    gap: 10px;
    font-family: "Quicksand", sans-serif;
}
.slider-text b{
    font-size: 50px;
    font-family: "Quicksand", sans-serif;
    color: var(--primary-color4);
}
.slider-text span{
    font-size: 25px;
    color: var(--primary-color);
    font-family: "Quicksand", sans-serif;
    color: var(--primary-color4);}
.slider-input{
    display: flex;
}
.slider-input input{
    height: 60px;
    width: 330px;
}
.slider-input-subscribe{
    border-radius: 50px;
    background-color: var(--primary-color2);
    padding: -6px;
    color: var(--primary-color3);
    width: 150px;
    height: 60px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    left: 250px;
    position: absolute;
    opacity: 0.9;
}
.slider-input-subscribe:hover{
    opacity: 1;
    cursor: pointer;
}
.slider-paper{
    background-color: var(--primary-color3);
    height: 60px;
    width: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    color: var(--primary-color);
}
.swiper-pagination span{
    background-color: var(--primary-color2);
    height: 17px;
    width: 17px;
}