#product-top-section {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.product-top-section.active {
    max-height: 2000px !important;
}
.product-top-filters{
    width: 145px;
    height: 45px;
    padding: 7px;
    border-radius: 40px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--primary-color9);
    color: var(--primary-color2);
}
.product-top-filters i{
   color: var(--primary-color10);
}
.product-top-filters:hover{
    color: var(--primary-color6);
}
.page-header{
    display: flex;
    gap: 20px;
    color: var(--primary-color);
}
.page-header1{
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--primary-color2) !important;
}
.page-header1:hover{
    color: var(--primary-color6);
}
.product-top-section-cart-categories, .product-top-section-cart-vendors, .product-top-section-cart-price, .product-top-section-cart-tag{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color9);
    border-radius: 20px;
    padding: 10px;
    gap: 30px;
}
.product-top-section-cart-categories b, .product-top-section-cart-vendors-top b{
    font-size: 25px;
}
.product-top-section-cart-categories-bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-top-section-cart-vendors-bottom{
    display: flex;
    justify-content: space-between;
}
.product-top-section-cart-vendors-bottom-left, .product-top-section-cart-vendors-bottom-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
}
.product-top-section-cart-vendors-bottom-left li, .product-top-section-cart-vendors-bottom-right li{
    display: flex;
    gap: 10px;
}
.custom-checkbox {
    display: none;
}
.custom-checkbox + label {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    color: var(--primary-color5);
    font-size: 14px;
}
.custom-checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color10);
    background-color: #fff;
    border-radius: 4px;
    transition:  0.3s;
}
.custom-checkbox:checked + label:before {
    content: '\2713';
    font-size: 16px;
    line-height: 20px; 
    text-align: center;
    color: var(--primary-color3);
    background-color: var(--primary-color2); 
}
.hover-up{
    width: max-content;
    height: 45px;
    padding: 10px 20px 10px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 25px;
    font-size: 17px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
.hover-up:hover{
    transform: translateY(-15%);
    transition-duration: 0.5s;
}
.hover-up:hover span{
    color: var(--primary-color6);
}
.hover-up i{
    color: var(--primary-color10);
}
.hover-up span{
    color: var(--primary-color2);
}
.product-top-section-cart-tag-bottom{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.product-top-section-cart-tag-top b, .product-top-section-cart-price-top b{
    font-size: 25px;
}
.range-slider {
    position: relative;
    display: flex;
}
.slider-rage {
    width: 100%;
    height: 10px;
    background-color: var(--primary-color10);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
}
.selected-range {
    height: 5px;
    background-color: #2ecc71; /* Yeşil renk */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 100%;
}
.thumb {
    width: 20px;
    height: 20px;
    background-color: var(--primary-color2);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.thumb1 {
    left: 160px;
}
.thumb2 {
    right: 160px;
}
.price {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.product-top-section-cart-price-bottom-slider span{
    font-size: 15px;
    color: var(--primary-color);
}
.product-top-section-cart-price-bottom-check-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max-content;
    padding: 0px 35px 0px 10px;
}
.product-top-section-cart-price-bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-top-section-cart-price-bottom-check-left label{
    color: var(--primary-color10);
}
.product-top-section-cart-price-bottom-check-right{
    width: max-content;
    height: max-content;
}
.product-top-section-cart-price-bottom-check-right img{
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    background-color: white;
    border-radius: 15px;
}
.product-top-section-cart-price-bottom-check{
    display: flex;
    justify-content: space-between;
}
.product-bottom-up b{
    color: var(--primary-color);
}
.product-bottom-up span{
    color: var(--primary-color2);
}
.product-bottom-up{
    display: flex;
    justify-content: space-between;
}
.product-bottom-last{
    display: flex;
    gap: 15px;
}