.product-top-section{
    display: none;
}
.product-top-section.active{
    display: block;
}
.product-top-filters{
    width: 145px;
    height: 45px;
    padding: 7px;
    border-radius: 40px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--primary-color9);
    color: var(--primary-color2);
}
.product-top-filters i{
   color: var(--primary-color10);
}
.product-top-filters:hover{
    color: var(--primary-color6);
}
.page-header{
    display: flex;
    gap: 20px;
    color: var(--primary-color);
}
.page-header1{
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--primary-color2) !important;
}
.page-header1:hover{
    color: var(--primary-color6);
}
